.form-control{
  background-color: #494949;
  border-color: #494949;
  color: #cecece;
}
 .logo{
   max-width: 50px;
   max-height: auto;
 }
 .nav-link{
   font-family: 'Merriweather Sans', sans-serif;
 }