h2{
  text-align: left;
  margin-top: 10px;
}

.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: inherit;
  margin: 0 auto 20px auto;
}

.right-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.close-modal{
  font-weight: bold;
  font-size: 14px;
  background-color: inherit;
  color:#e0e0e0;
}

  .close-modal:hover, .close-modal:focus, .close-modal:active, .close-modal:active:hover, .close-modal:active:focus{
      color: #c0c0c0c0;
      background-color: inherit;
  }

.col-form-label{
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
}
