<div class="container-fluid expenses-container">
  <p *ngFor="let budget of _budgetService.budgets">
      {{budget.name}}
  </p>
  <div class="row expense">
    <div class="col-10 heading">
      <h2 class="title">Budgets</h2>
    </div>
    <!-- <div class="col-2">
      <button type="button" name="add-expense"
      id="add-expense" class="btn btn-primary add-expense"
      (click)="showForm()">Add Expense</button>
    </div> -->
    <div class="table-responsive">
      <button (click)="getBudgets()">Get Budget</button>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
        		<th scope="col">Name</th>
        		<th scope="col">Amount</th>
        		<th scope="col">Recurring</th>
        		<th scope="col">Frequency</th>
        	</tr>
        </thead>
        <tbody>
          <tr *ngFor="let budget of budgets">
        		<td scope="row">{{budget.name}}</td>
        		<td>{{budget.amount}}</td>
        		<td>{{budget.recurring}}</td>
        		<td>{{budget.frequency}}</td>
        	</tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
