<div class="container-fluid card-container">

  <app-expense-form
  (visibleForm)="modifyVisibility()"
  *ngIf="formVisible" class="form-modal"></app-expense-form>

  <mat-card class= "row">
    <div class="d-flex flex-row">
      <div class="heading col-10">
        <mat-card-title>Expense Overview</mat-card-title>
      </div>
      <mat-card-actions class="col-2">
        <button type="button" name="view-graph"
        id="view-graph" class="btn btn-primary button">View Graph</button>
      </mat-card-actions>
    </div>
    <mat-card-content class= "d-flex flex-row justify-content-around">
      <div>
        <span class="label">Month: </span>
        <mat-form-field class="content dropdownContent">
          <mat-select (change)="getTotal($event.value)">
            <mat-option *ngFor="let month of months" [value]="month">
              {{month}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        <div style="margin: auto 0">
          <span class="label">Monthly Total: </span>
          <span class="content">{{this.totalExpense}}</span>
        </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="row d-flex flex-row">
    <div class="heading col-10">
      <mat-card-title>Expenses</mat-card-title>
    </div>
    <mat-card-actions class="col-2">
      <button type="button" name="add-expense"
      id="add-expense" class="btn btn-primary button"
      (click)="showForm()">Add Expense</button>
    </mat-card-actions>
    <mat-card-content class="table-responsive">
      <app-material-table></app-material-table>
    </mat-card-content>

  </mat-card>
</div>
