.flexbox-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

table{
	width:75%;
	margin:auto;
}

th{
	font-weight: bold;
	background-color: #a5e1ff;
}

table, th, td{
	border: 1px solid black;
}

h1, h3{
	text-align:center;
}

form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
