<div class="container-fluid expenses-container">

  <mat-card>
    <mat-card-title>Expense Overview</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <span>Month: </span>
        <mat-select>
          <!-- <mat-option *ngFor="let month in months">
            {{month}}
          </mat-option> -->
          <mat-option>August</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <app-expense-form
  (visibleForm)="modifyVisibility()"
  *ngIf="formVisible" class="expense-modal"></app-expense-form>

  <mat-card class="row expense d-flex flex-row">
    <div class="heading col-10">
      <mat-card-title>
        <h2 class="title">Expenses</h2>
      </mat-card-title>
    </div>
    <mat-card-actions class="col-2">
      <button type="button" name="add-expense"
      id="add-expense" class="btn btn-primary add-expense"
      (click)="showForm()">Add Expense</button>
    </mat-card-actions>
    <mat-card-content class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
        		<th scope="col">Date</th>
        		<th scope="col">Category</th>
        		<th scope="col">Price</th>
        		<th scope="col">Location</th>
        	</tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenses">
        		<td scope="row">{{expense.date}}</td>
        		<td>{{expense.category}}</td>
        		<td>{{expense.price}}</td>
        		<td>{{expense.location}}</td>
        	</tr>
        </tbody>
      </table>
    </mat-card-content>

  </mat-card>
</div>
