/* .flexbox-container{
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: auto;
	padding-top: 75px;
} */

.row{
	background-color: #FFFFFF;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.expense-form{
	/* display: none; */
  margin: 0 auto 20px auto;
  width: 700px;
}

.expenses-container{
		width:75%;
}
/* .right-container{
	display:flex;
	justify-content: flex-end;
	width: 75%;
	margin: 0 auto;
} */
.add-expense{
	margin-bottom: 10px;
}

table{
	width:75%;
	margin:auto;
}

th{
	font-weight: bold;
	background-color: #C0FDFB;
}

table, th, td{
	border: 1px solid black;
}

h2, h3{
	text-align:left;
}
