<mat-card class="budget-modal">
  <mat-card-title>
    <h5 class="modal-title" id="budgetAddLabel">Add A Budget</h5>
    <button type="button" class="close">
      <span (click)="closeAddBudget()">&times;</span>
    </button>
  </mat-card-title>
  <mat-card-content>
    <form #budgetForm="ngForm">
      <div class="d-flex flex-column modal-body">
        <div class="d-flex flex-row justify-content-around">
          <mat-form-field class="form-group row">
              <input matInput type="text"
              id="name"
              placeholder="Name"
              name="name">
          </mat-form-field>
          <mat-form-field class="form-group row">
              <input matInput type="text"
              id="amount"
              placeholder="Amount"
              name="amount">
          </mat-form-field>
        </div>
        <div class="d-flex flex-row justify-content-around">
          <mat-form-field class="form-group row">
            <mat-select
              name="recurring"
              id="recurring"
              (change)="onRecurringChange()"
              placeholder="Recurring"
              [(ngModel)]="recurring"
            >
              <mat-option
              value="No">No</mat-option>
              <mat-option
              value="Yes">Yes</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-group row" *ngIf="isRecurring">
            <mat-select
              name="frequency"
              id="frequency"
              placeholder="Frequency"
              [(ngModel)]="frequency"
            >
              <mat-option
              value="Monthly">Monthly</mat-option>
              <mat-option
              value="Bi-weekly">Bi-Weekly</mat-option>
              <mat-option
              value="Weekly">Weekly</mat-option>
              <mat-option
              value="Daily">Daily</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeAddBudget()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addBudget($event)">Save changes</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
