<mat-card class="expense-modal">
  <mat-card-title>
    <h5 class="modal-title" id="expenseFormLabel">Add An Expense</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span (click)="closeForm()"> &times;</span>
    </button>
  </mat-card-title>
  <mat-card-content>
    <form #expenseForm="ngForm">
      <div class="d-flex flex-column modal-body">
        <mat-form-field class="form-group row">
          <input matInput type="text"
          id="date"
          placeholder="Date (mm/dd/yyyy)"
          name="date"/>
        </mat-form-field>
        <mat-form-field class="form-group row">
          <input matInput type="text"
          id="category"
          placeholder="Category"
          name="category">
        </mat-form-field>
        <mat-form-field class="form-group row">
          <input matInput type="text"
          id="price"
          placeholder="Price"
          name="price">
        </mat-form-field>
        <mat-form-field class="form-group row">
          <input matInput type="text"
          id="location"
          placeholder="Location"
          name="location">
        </mat-form-field>
      </div>
      <mat-card-actions class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeForm()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addExpense($event)">Add</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
