<div class="container">
    <form #expenseForm="ngForm">
		<h1>Add An Expense</h1>

		<div class="form-group">
			<input type="text"
			class="form-control"
			placeholder="Date (mm/dd/yyyy)"
			name="date">
		</div>
		<div class="form-group">
			<input type="text"
			class="form-control"
			placeholder="Category"
			name="category">
		</div>
		<div class="form-group">
			<input type="text"
			class="form-control"
			placeholder="Price"
			name="price">
		</div>
		<div class="form-group">
			<input type="text"
			class="form-control"
			placeholder="Location"
			name="location">
		</div>
		<button (click)="addExpense($event)" type="submit" class="btn btn-primary btn-success">Add</button>
	</form>
</div>
